h1 {
  color: rgba(8, 35, 85, 0.7);
}
/* .formulaire {
  width: 30%;
  background-color: lightblue;
  /* display: flex;
  flex-direction: column;
  text-align: center; */
/* } */
/* article {
  width: 30%;
  background-color: rgba(255, 0, 0, 1);
  color: rgb(255, 255, 255);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
} */
